@charset 'utf-8';
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
	font-family:'Noto Sans TC';
}
a:link {
	color:#000;
}
a:visited {
　  color:#000;
}
a:hover {
	color:#999;
	
　
}
a:active {
  　color:#999;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}


/*navbar*/
.navbar {		
	margin-bottom: 0;
	border: 0;
	font-size: 18px !important;
	letter-spacing: 3px;
	opacity:1;
	font-weight:bold;
 }
 
/*navbar文字顏色*/ 
#navbardrop{
	color: #000000 !important; 	
	font-size:16px !important; 		
}
 
/*navbar文字顏色*/ 
#navbardrop2{
	color: #ffffff !important; 	
}
/* 滑鼠移至navbar自動底線效果 */
.navbar-dark .navbar-nav > .active > a:hover,
.navbar-dark .navbar-nav > li > a:hover {
	color: #F3F3F3;
	border-bottom: 0.25em solid #26D07C;
}

/* 滑鼠移至navbar自動展開 */
.dropdown:hover > .dropdown-menu {
	display: block;
	margin: 0; 
	padding: 0;
	border-radius: 0px 0px 0px 0px;
}

/* navbar展開效果 */
.dropdown .dropdown-menu {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown:hover .dropdown-menu {
    max-height: 200px;
    opacity: 0.8;
}

.dropdown-menu > a{
    background-color:#696969;
	color:#ffffff !important; 
	font-weight:bold;
}

/* 滑鼠移動到下拉式選單背景顏色、文字顏色效果 */
.dropdown-menu > a:hover{
    background-color:#000000;
	color:#26D07C !important;
    opacity: 0.9;
}
.dropdown-item{
	height:40px;
	
}
/* navbar手機模式三槓設定  */
.navbar-toggler{
	background-color:#26D07C;
}

/* 去超連結底線 */
.container a{
    text-decoration:none;	
}
#marquee_div{
	padding-left:20px;
	font-size:14px; 
	margin-top:46px; 
	line-height:20px;
}

#top_bg{
	background-image: url("images/background.png");
}

#footer_img{
    position:absolute;
    top:135%;
    z-index:-1;
}
#news_marq{
	position:absolute;
	top:63%;
	left:45%;     
	width:100%;
	background:url(newsarea_s.png) no-repeat;
	
	}
#news_marq2{
	position:absolute;
	top:20px;
	left:820px;
	width:164px;
	height:82px;
	}	
#nav_c{
	color:#000000;
}
#navbar_member{
	font-size:14px;
	letter-spacing:3px;
	color:#730101;
}
#top_a{
    text-decoration:none;
}
